---
layout: page
title: "Recent Posts"
---
{% include JB/setup %}

{% for post in site.posts limit:1 %}
<section>
    <h3>{{ post.date | date_to_string }}</h3>
    <h2><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
    {{ post.content }}
    <p><a href="{{ post.url }}" title="{{ post.title }}">Read More</a></p>
</section>
{% endfor %}

{% for post in site.posts offset:1 limit:9 %}
    <hr />
    <section>
        <h3>{{ post.date | date_to_string }}</h3>
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p>{{ post.excerpt }}</p>
        <p><a href="{{ post.url }}" title="{{ post.title }}">Read More</a></p>
    </section>
{% endfor %}
