.highlight-gist {
    background-color: #efefef;
    padding: 0 2px 0 7px;
    box-shadow: 3px 3px rgba(0,0,0,0.1);
    text-shadow: none;
}

.highlight-gist code {
    font-family:'Bitstream Vera Sans Mono','Courier', monospace;
}

.highlight-gist .gist .gist-file .gist-data {
    max-height: 500px;
}

.highlight-gist .c { color: #586E75 } /* Comment */
.highlight-gist .err { color: #93A1A1 } /* Error */
.highlight-gist .g { color: #93A1A1 } /* Generic */
.highlight-gist .k { color: #859900 } /* Keyword */
.highlight-gist .l { color: #93A1A1 } /* Literal */
.highlight-gist .n { color: #93A1A1 } /* Name */
.highlight-gist .o { color: #859900 } /* Operator */
.highlight-gist .x { color: #CB4B16 } /* Other */
.highlight-gist .p { color: #93A1A1 } /* Punctuation */
.highlight-gist .cm { color: #586E75 } /* Comment.Multiline */
.highlight-gist .cp { color: #859900 } /* Comment.Preproc */
.highlight-gist .c1 { color: #586E75 } /* Comment.Single */
.highlight-gist .cs { color: #859900 } /* Comment.Special */
.highlight-gist .gd { color: #2AA198 } /* Generic.Deleted */
.highlight-gist .ge { color: #93A1A1; font-style: italic } /* Generic.Emph */
.highlight-gist .gr { color: #DC322F } /* Generic.Error */
.highlight-gist .gh { color: #CB4B16 } /* Generic.Heading */
.highlight-gist .gi { color: #859900 } /* Generic.Inserted */
.highlight-gist .go { color: #93A1A1 } /* Generic.Output */
.highlight-gist .gp { color: #93A1A1 } /* Generic.Prompt */
.highlight-gist .gs { color: #93A1A1; font-weight: bold } /* Generic.Strong */
.highlight-gist .gu { color: #CB4B16 } /* Generic.Subheading */
.highlight-gist .gt { color: #93A1A1 } /* Generic.Traceback */
.highlight-gist .kc { color: #CB4B16 } /* Keyword.Constant */
.highlight-gist .kd { color: #268BD2 } /* Keyword.Declaration */
.highlight-gist .kn { color: #859900 } /* Keyword.Namespace */
.highlight-gist .kp { color: #859900 } /* Keyword.Pseudo */
.highlight-gist .kr { color: #268BD2 } /* Keyword.Reserved */
.highlight-gist .kt { color: #DC322F } /* Keyword.Type */
.highlight-gist .ld { color: #93A1A1 } /* Literal.Date */
.highlight-gist .m { color: #2AA198 } /* Literal.Number */
.highlight-gist .s { color: #2AA198 } /* Literal.String */
.highlight-gist .na { color: #93A1A1 } /* Name.Attribute */
.highlight-gist .nb { color: #B58900 } /* Name.Builtin */
.highlight-gist .nc { color: #268BD2 } /* Name.Class */
.highlight-gist .no { color: #CB4B16 } /* Name.Constant */
.highlight-gist .nd { color: #268BD2 } /* Name.Decorator */
.highlight-gist .ni { color: #CB4B16 } /* Name.Entity */
.highlight-gist .ne { color: #CB4B16 } /* Name.Exception */
.highlight-gist .nf { color: #268BD2 } /* Name.Function */
.highlight-gist .nl { color: #93A1A1 } /* Name.Label */
.highlight-gist .nn { color: #93A1A1 } /* Name.Namespace */
.highlight-gist .nx { color: #555 } /* Name.Other */
.highlight-gist .py { color: #93A1A1 } /* Name.Property */
.highlight-gist .nt { color: #268BD2 } /* Name.Tag */
.highlight-gist .nv { color: #268BD2 } /* Name.Variable */
.highlight-gist .ow { color: #859900 } /* Operator.Word */
.highlight-gist .w { color: #93A1A1 } /* Text.Whitespace */
.highlight-gist .mf { color: #2AA198 } /* Literal.Number.Float */
.highlight-gist .mh { color: #2AA198 } /* Literal.Number.Hex */
.highlight-gist .mi { color: #2AA198 } /* Literal.Number.Integer */
.highlight-gist .mo { color: #2AA198 } /* Literal.Number.Oct */
.highlight-gist .sb { color: #586E75 } /* Literal.String.Backtick */
.highlight-gist .sc { color: #2AA198 } /* Literal.String.Char */
.highlight-gist .sd { color: #93A1A1 } /* Literal.String.Doc */
.highlight-gist .s2 { color: #2AA198 } /* Literal.String.Double */
.highlight-gist .se { color: #CB4B16 } /* Literal.String.Escape */
.highlight-gist .sh { color: #93A1A1 } /* Literal.String.Heredoc */
.highlight-gist .si { color: #2AA198 } /* Literal.String.Interpol */
.highlight-gist .sx { color: #2AA198 } /* Literal.String.Other */
.highlight-gist .sr { color: #DC322F } /* Literal.String.Regex */
.highlight-gist .s1 { color: #2AA198 } /* Literal.String.Single */
.highlight-gist .ss { color: #2AA198 } /* Literal.String.Symbol */
.highlight-gist .bp { color: #268BD2 } /* Name.Builtin.Pseudo */
.highlight-gist .vc { color: #268BD2 } /* Name.Variable.Class */
.highlight-gist .vg { color: #268BD2 } /* Name.Variable.Global */
.highlight-gist .vi { color: #268BD2 } /* Name.Variable.Instance */
.highlight-gist .il { color: #2AA198 } /* Literal.Number.Integer.Long */
